div.hire-tabs > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.hire-tabs > ul > li {
	border: 1px solid #f5f2f0;;
	display: inline-block;
	text-align: center;
	width: 100px;
}

div.hire-tabs > ul > li.active {
	background-color: #f5f2f0;
}

div.hire-tabs pre {
	margin: 0;
}